{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">Buty</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Substancja</th>
          <th>CAS</th>
          <th>WE</th>
          <th>Prężność pary</th>
        </tr>
      </thead>
      <tbody>
        {% for druglike in druglike  %}
        <tr>
          <th scope="row">{{druglike.id}}</th>
          <td>{{druglike.name}}</td>
          <td>{{druglike.cas}}</td>
          <td>{{druglike.category}}</td>
          <td>bbbbbbbbbbbbb</td>
          <td>
            <a href="/substance/details/" class="btn btn-success">Podgląd</a>
            <a href="/substance/edit/" class="btn btn-default">Edycja</a>
            <a href="/substance/delete/" class="btn btn-danger">Usuń</a>
          </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>

{% endblock %}
