{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">Listy ogólne</h2>

    <table class="table table-striped">
      <thead>
        <tr>

          <th>Nazwa listy</th>
          <th>Opcje</th>

        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Korzystanie ze środowiska</td>
          <td>
            <a href="/admin/datalist/envusage" class="btn btn-default">Edycja</a>
          </td>
        </tr>

        <tr>
          <td>Prekursory narkotykowe</td>
          <td>
            <a href="/admin/datalist/druglike" class="btn btn-default">Edycja</a>
          </td>
        </tr>

        <tr>
          <td>KOBIZE</td>
          <td>
            <a href="/admin/datalist/kobize" class="btn btn-default">Edycja</a>
          </td>
        </tr>

        <tr>
          <td>SVHC</td>
          <td>
            <a href="/admin/datalist/svhc" class="btn btn-default">Edycja</a>
          </td>
        </tr>

        <tr>
          <td>REACH 17</td>
          <td>
            <a href="/admin/datalist/reach17" class="btn btn-default">Edycja</a>
          </td>
        </tr>

        <tr>
          <td>Pictograms</td>
          <td>
            <a href="/admin/datalist/pictograms" class="btn btn-default">Edycja</a>
          </td>
        </tr>


      </tbody>
    </table>

{% endblock %}
