{% extends 'base.html.twig' %}

{% block body %}


    <a class="btn btn-success" href="/substance">Powrót do listy</a>
    <hr>
    <h2 class="page-header">Substancja: {{substance.name}}</h2>
    <ul class="list-group">
      <li class="list-group-item">CAS: {{substance.cas}}</li>
      <li class="list-group-item">WE: {{substance.we}}</li>
      <li class="list-group-item">Prężność pary: {{substance.vpressure}}</li>
    </ul>



{% endblock %}
