{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">Kobize</h2>
    <a href="/admin/datalist/kobize/create" class="btn btn-success">Stwórz nowy</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>numer</th>
          <th>Nazwa</th>
          <th>CAS</th>

        </tr>
      </thead>
      <tbody>
        {% for kobize in kobize  %}
        <tr>

          <td>{{kobize.number}}</td>
          <td>{{kobize.name}}</td>
          <td>{{kobize.cas}}</td>

          <td>
            <a href="/admin/datalist/kobize/edit/{{kobize.id}}" class="btn btn-default">Edycja</a>
          </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>

{% endblock %}
